<h1>Contact Us</h1>
Loveday and Yulia eShop can be contact as follows:

Email:

<!-- Contact Form from http://matharvard.ca/posts/2011/aug/22/contact-form-in-rails-3/ -->
<%= form_for @message, :url => nil do |form| %>
    <fieldset class="fields">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="field">
        <%= form.label :subject %>
        <%= form.text_field :subject %>
      </div>

      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit "Send" %>
    </fieldset>
<% end %>